body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: #303069; 
    color: #ffffff;
    text-align: left; 
    padding: 40px 20px;
    border-radius: 5px;
    height: 100px;
}

section {
    margin-top: 20px;
}

#asthmaMap {
    flex: 1; /* Take up the full space available */
}

#genderAsthmaChart {
    width: 100%; 
    height: auto;
}

#copdMortalityChart {
    width: 100%; 
    height: auto;
}

.legend-title {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

text {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

circle {
    stroke: none;
}

#tooltip {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1000;
    display: none; /* Initially hidden */
    pointer-events: none; /* Lets mouse events pass through */
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    width: 220px; /* Fixed width, adjust as necessary */
    font-family: Arial, sans-serif; /* Professional, clean font */
}


#tooltip.visible {
    display: block;  /* Make visible when data is available */
}



svg path {
    stroke: #fff;
    stroke-width: 2;
    fill: #ccc;
    transition: fill 0.5s;
}

svg path:hover {
    fill: #a00;
}

.year-selection {
    text-align: center;
    margin-top: 20px;
}

.year-btn {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
}

.year-btn:hover, .year-btn.active {
    background-color: #e9e9e9;
}

h1{
    color: #f4f4f4;
}

h2 {
    color: #333;
}

.hidden {
    display: none;
}

.notes button {
    cursor: pointer;
}